$enable-flex: true !default;
@import "bootstrap/scss/bootstrap.scss";

$fa-font-path: "../node_modules/font-awesome/fonts" !default;
@import "font-awesome/scss/font-awesome.scss";

.hero {
  @extend .jumbotron;
  @extend .m-y-md;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  background: url(/assets/starfield.jpg) no-repeat center -140px fixed;
  background-size: 1400px;
}
